body {
	background-color: #f7f9ff;
}

#h1heading {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 26px;
	margin: 45px;
	color: #000080; text-shadow: black 0.1em 0.1em 0.2em
}

#tab
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 700px;
	text-align: left;
	border-collapse: collapse;
}
#tab thead th.left
{
	background: #b9c9fe url('left.png') left -1px no-repeat;
}
#tab thead th.right
{
	background: #b9c9fe url('right.png') right -1px no-repeat;
}
#tab th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
#tab td
{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
#tab tfoot td.rounded-foot-left
{
	background: #e8edff url('botleft.png') left bottom no-repeat;
}
#tab tfoot td.rounded-foot-right
{
	background: #e8edff url('botright.png') right bottom no-repeat;
}
#tab tbody tr:hover td
{
	background: #d0dafd;
	text-shadow: black 0em 0em 3em;
}