#entry {
	padding-left: 50px;
	padding-top: 20px;
}

#name {
	font-family:monospace;
	font-size:1.25em;
	font-weight:900;
	font-style:oblique;
}

#time {
	font-weight:200;
	font-size:1em;
}

#comm {
	font-family:monospace;
	font-size:1.5em;
	font-weight:200;
	width:400px;
}
